<%= stylesheet_link_tag 'ranks', :media => "all" %>

<br>
<br>
<div class="search">
<%= form_tag ranks_rank_path, method: :get, class: 'boards__searchForm' do %>
    <%= select_tag :tag_id,
                options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                {
                    prompt: 'タグで絞り込む',
                    onchange: 'submit(this.form);'
                }
    %>
<% end %>
</div>

<br>
<br>


<h3>いいねランキング</h3>
<br>

<div class="thoughts-container">
<% @rank_thoughts.each do |t| %>
    <div class="thought">
    <div class="main-box">
    <div class="left-container">
    <% if t.image? %>
        <div class="left-box">
        <p><%= image_tag t.image_url, width: "250" %></p>
        </div>
    <% end %>
    <div class="right-box">
        <a href="/users/<%= t.user.id %>"><%= t.user.name %></a>
        <h4><%= safe_join(t.title.split("\n"),tag(:br)) %></h4>
        <p><%= safe_join(t.about.split("\n"),tag(:br)) %></p>
        <ul class="cp_tag01"><% t.tags.each do |tag| %>
            <li><%= tag.name %></li>
        <% end %></ul>
    </div>
    </div>

    <br>
    <div class="box">
        <% if user_signed_in? %>
            <% if current_user.already_liked?(t) %>
                <%= link_to thought_like_path(id: t.id, thought_id: t.id), method: :delete do %>
                    <i class="fas fa-heart"></i><%= t.likes.count %>
                <% end %>
            <% else %>
                <%= link_to thought_likes_path(id: t.id, thought_id: t.id), method: :post do %>
                    <i class="fas fa-heart"></i><%= t.likes.count %>
                <% end %>
            <% end %>
        <% else %>
        <i class="fas fa-heart"></i><%= t.likes.count %>
        <% end %>

        <% if user_signed_in? %>
            <% if current_user.already_counted?(t) %>
            <div class="button" tabindex="-1">
                <%= link_to thought_count_path(id: t.id, thought_id: t.id), method: :delete do %>
                    <p>やってみた！</p>
                    </div>
                    <p class="count"><%= t.counts.count %></p>
                <% end %>
            <% else %>
            <div class="button" tabindex="-1">
                <%= link_to thought_counts_path(id: t.id, thought_id: t.id), method: :post do %>
                    <p>やってみた！</p>
                    </div>
                    <p class="count"><%= t.counts.count %></p>
                <% end %>
            <% end %>
        <% else %>
        <div class="button" tabindex="-1">
            <p>やってみた！の数 = </p>
            </div>
            <p class="count"><%= t.counts.count %></p>
        <% end %>
    </div>

    <div class="right-container">
        <p><%= t.created_at.strftime('%Y/%m/%d') %></p>
        <p><%= link_to "詳細へ", thought_path(t.id) %></p>
        <% if user_signed_in? && current_user.id == t.user_id %>
            <p><%= link_to "編集する", edit_thought_path(t.id) %></p>
            <p><%= link_to "削除する", thought_path(t.id), method: :delete %></p>
        <% end %>
    </div>
    </div>
<% end %>
</div>

<br>
<nav class="pagenation"><%= paginate @rank_thoughts %></nav>
<br>
<br>