<%= stylesheet_link_tag 'thoughts.new', :media => "all" %>

<h1></h1>
<h3>新規アイデア</h3>

<%= form_for @thought do |f| %>
  <div class="field1">
    <p>タイトル</p>
    <%= f.text_area :title, :size => 140 %>
  </div>
  <div class="field2">
    <p>内容</p>
    <%= f.text_area :about, :size => 140 %>
  </div>
  <div class="field3">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="check_box">
    <span>タグ</span>
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
      <div>
        <%= tag.label do %>
          <%= tag.check_box %>
          <%= tag.text %>
        <% end %>
      </div>
    <% end %>
  </div>

  <br>
  <div class="field4">
    <%= f.submit "投稿する" %>
  </div>
<% end %>

<br>
<div class="link">
<a><%= link_to "アイデア一覧に戻る", thoughts_path %></a>
</div>
