<%= stylesheet_link_tag 'thoughts.show', :media => "all" %>


<h3>アイデア詳細</h3>

<div class="thoughts-container">
    <div class="thought"> 
    <div class="main-box">
    <div class="left-container">
        <p><%= image_tag @thought.image_url, width: "250", class:"left-box" if @thought.image? %></p>
    <div class="right-box">
        <a href="/users/<%= @thought.user.id %>"><%= @thought.user.name %></a>
        <h4><%= safe_join(@thought.title.split("\n"),tag(:br)) %></h4>
        <p><%= safe_join(@thought.about.split("\n"),tag(:br)) %></p>
        <ul class="cp_tag01"><% @thought.tags.each do |tag| %>
            <li><%= tag.name %></li>
        <% end %></ul>
    </div>
    </div>

    <br>
    <div class="box">
            <% if user_signed_in? %>
                <% if current_user.already_liked?(@thought) %>
                    <%= link_to thought_like_path(@thought), method: :delete do %>
                        <p class="like1"><%= @thought.likes.count %></p>
                    <% end %>
                <% else %>
                    <%= link_to thought_likes_path(@thought), method: :post do %>
                        <p class="like2"><%= @thought.likes.count %></p>
                    <% end %>
                <% end %>
            <% else %>
            <p class="like3"><%= @thought.likes.count %></p>
            <% end %>

        <% if user_signed_in? %>
                <% if current_user.already_counted?(@thought) %>
                <div class="button" tabindex="-1">
                    <%= link_to thought_count_path(@thought), method: :delete do %>
                        <p>やってみた！</p>
                        </div>
                        <p class="count"><%= @thought.counts.count %></p>
                    <% end %>
                <% else %>
                <div class="button" tabindex="-1">
                    <%= link_to thought_counts_path(@thought), method: :post do %>
                        <p>やってみた！</p>
                        </div>
                        <p class="count"><%= @thought.counts.count %></p>
                    <% end %>
                <% end %>
            <% else %>
            <div class="button" tabindex="-1">
                <p>やってみた！の数 = </p>
                </div>
                <p class="count"><%= @thought.counts.count %></p>
            <% end %>
        </div>
        
        <div class="right-container">
            <p><%= @thought.created_at.strftime('%Y/%m/%d') %></p>
            <% if user_signed_in? && current_user.id == @thought.user_id %>
                <p><%= link_to "編集する", edit_thought_path(@thought) %></p>
                <p><%= link_to "削除する", thought_path(@thought), method: :delete %></p>
            <% end %>
        </div>
        </div>
</div>



<div class="comment-wrapper">
    <h4>コメント一覧</h4>
    <% @comments.each do |c| %>
        <div>
            <%= c.user.name unless c.user.blank? %>
            <br>
            <%= c.content %>
        </div>
            <br>
    <% end %>

    <% if user_signed_in? %>
        <%= form_with(model: [@thought, @comment], local: true) do |f| %>
            <%= f.text_area :content %>
            <%= button_tag type: "submit" do %>
                <i class="far fa-comments"></i> コメントする
            <% end %>
        <% end %>
    <% end %>
</div>



<h3 class="link-index" ><%= link_to "アイデア一覧に戻る", thoughts_path %></h3>

<br>
<br>
<br>
<br>
