<!DOCTYPE html>
<html>
  <head>
    <title>Idea Town</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">

    <% # ↓グーグルフォント %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Zen+Kaku+Gothic+Antique:wght@500&display=swap" rel="stylesheet">
    
    <% # ↓グーグルマテリアルアイコン %>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="page-header">
    <div class="image-logo">
    <%= image_tag "logo3.png", size: "100×100" %>
    </div>
      <div class="header-list">
      <ul>
        <li><a href="/thoughts" id="list-1">ホーム</a></li>

        <li><a href="/thoughts/new" id="list-2">新規投稿</a></li>

        <li>
        <% if user_signed_in? %><a rel="nofollow" data-method="delete" href="/users/sign_out" id="list-3">ログアウト</a>
        <% else %><a rel="nofollow" data-method="post" href="/users/sign_in" id="list-4">ログイン</a>
        <% end %></li>
        
        <li><% if user_signed_in? %><a href="/users/<%= current_user.id %>" id="list-5" >マイページ</a><% end %></li>　
      </ul>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p>Copyright © GeekSalon All Rights Reserved.</p>
    </footer>
  </body>
</html>
